<footer id="colorlib-footer">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 colorlib-widget">
                <h2 style="color: #ea6f99">About Us</h2>
                <p>
                    We love to work, and we are constantly developing ways to make gym experience more pleasing, as a future privilege, you will discover
                    Soon that Diamond Fitness is much more than just a sports franchise. It's a way of life. We give you different and enjoyable fitness
                    More professional with the use of the latest styles and latest equipment under the hands of highly experienced coaches trained, you will find our passion reflected in
                    How to innovate and improve the global sports experience constantly.
                </p>
                </p>
                <p>
                    <ul class="colorlib-social-icons">
                        <li>
                            <a href="#">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4 colorlib-widget">
                <h2 style="color: #ea6f99">The list</h2>
                <p>
                    <ul>
                        <li>
                            <a href="/en" style="color: #bafa5b;">Home</a>
                        </li>
                        <li>
                            <a href="/en/Book" style="color: #bafa5b;">Book now</a>
                        </li>
                        <li>
                            <a href="/en#exercise" style="color: #bafa5b;"> Main exercises </a>
                        </li> 
                        <li>
                            <a href="/en#fun" style="color: #bafa5b;">Our Services</a>
                        </li>
                        <li>
                            <a href="/en#trainer" style="color: #bafa5b;">Trainers</a>
                        </li>


                    </ul>
                </p>
            </div>



            <div class="col-md-4 colorlib-widget">
                <h2 style="color: #ea6f99">Contact us</h2>
                <ul class="colorlib-footer-links">

                    <li>
                        <a href="tel://1234567920">
                            <i class="icon-phone"></i>+966 5212 34567
                        </a>
                    </li>
                    <li>
                        <a href="tel://1234567920">
                            <i class="icon-phone"></i>0557654455 - 0557954455
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@yoursite.com">
                            <i class="icon-envelope"></i>info@diamondfit.com
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.co.uk/maps/30.0815824,31.3484337,15z">
                            <i class="icon-location4"></i>Dammam - Prince Mteeb bin Abdullah Street
                            <br> Next to the Commercial Court 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="copy">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 text-center ">

                    <li>
                        <a href="/en/Terms#fun" target="_blank" style="color: #bafa5b;">Terms & conditions</a>
                    </li>
                </div>

                <div class="col-md-4 text-center ">

                    <li>
                        <a href="/en/Promotions" target="_blank" style="color: #bafa5b;">Offers & Promotions</a>
                    </li>
                </div>


                <div class="col-md-4">
                    <li>
                        <a href="/en/Faqs#home" target="_blank" style="color: #bafa5b;">FAQs</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center  " style="padding-bottom: 20px;">
                <small class="block">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    All rights reserved to NIYAT Company

                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </small>



            </div>
        </div>
    </div>
</footer>


<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <i class="icon-arrow-up2"></i>
    </a>
</div>