<footer id="colorlib-footer">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 colorlib-widget">
                <h2 style="color: #ea6f99">حولنا</h2>
                <p>
                    نحن نحب العمل ، ونعمل باستمرار على تطوير طرق التمارين الرياضية لجعل تجربة الجيم أكثر إرضاءً، كإمتياز مستقبلي ، سوف تكتشف
                    قريبًا أن دايموند فيتنس هو أكثر بكثير من مجرد امتياز رياضي. انها (طريقة للحياة). نحن نعطيك اللياقة بشكل مختلف وممتع
                    وأكثر احترافية مع استخدام أحدث الأساليب و أحدث الأجهزة تحت يد مدربات متخصصات بخبرات كبيرة ، وسوف تجد شغفنا ينعكس في
                    كيفية ابتكارنا وتحسين تجربة الألعاب الرياضية العالمية باستمرار.
                </p>
                </p>
                <p>
                    <ul class="colorlib-social-icons">
                        <li>
                            <a href="#">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4 colorlib-widget">
                <h2 style="color: #ea6f99">القائمة</h2>
                <p>
                    <ul>
                        <li>
                            <a href="/ar" style="color: #bafa5b;">الرئيسة</a>
                        </li>
                        </li>

                        <li>
                            <a href="/ar/Book#home" style="color: #bafa5b;"> أحجز مكانك</a>
                        </li>

                        <li>
                            <a href="/ar#exercise" style="color: #bafa5b;">التمارين الرئيسية</a>
                        </li>
                        <li>
                            <a href="/ar#fun" style="color: #bafa5b;">خدماتنا</a>
                        </li>
                        <li>
                            <a href="/ar#trainer" style="color: #bafa5b;">المدربات</a>
                        </li>

                    </ul>
                </p>
            </div>

            <div class="col-md-4 colorlib-widget">
                <h2 style="color: #ea6f99">اتصل بنا</h2>
                <ul class="colorlib-footer-links">
                    <li>
                        <a href="tel://1234567920">
                            <i class="icon-phone"></i>966521234567+
                        </a>
                    </li>

                    <li>
                        <a href="tel://1234567920">
                            <i class="icon-phone"></i>0557654455 - 0557954455
                        </a>
                    </li>

                    <li>
                        <a href="mailto:info@yoursite.com">
                            <i class="icon-envelope"></i>info@daimondfit.com
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.co.uk/maps/30.0815824,31.3484337,15z">
                            <i class="icon-location4"></i>الدمام - حي هجر - شارع الأمير متعب بن عبدالله
                            <br> بجوار المحكمه التجاريه </br>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copy">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 text-center ">
                    <li>
                        <a href="/ar/Terms#fun" target="_blank" style="color: #bafa5b;">الشروط والأحكام</a>
                    </li>
                </div>
                <div class="col-md-4 text-center ">
                    <li>
                        <a href="/ar/Promotions#home" target="_blank" style="color: #bafa5b;">العروض الترويجية</a>
                    </li>
                </div>

                <div class="col-md-4">
                    <li>
                        <a href="/ar/Faqs#home" target="_blank" style="color: #bafa5b;">الأسئلة الشائعة</a>
                    </li>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center  " style="padding-bottom: 20px;">
                <small class="block">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    جميع حقوق النشر محفوظة لدى شركة نياط

                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </small>

            </div>
        </div>
    </div>

</footer>

<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <i class="icon-arrow-up2"></i>
    </a>
</div>