
<link href="~/Content/css/styleEn.css" rel="stylesheet" />
<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 ">
                        <div id="colorlib-logo ">
                            <a href="/en">
                                <img src="/Content/images/logo.png" alt="logo" style="width: 150px; ">
                            </a>
                        </div>
                    </div>  
                    <div class="col-md-8 text-right menu-1">
                        <ul class="ulnav">
                            <li>
                                <a href="/en">Home</a>
                            </li>
                            <li>
                                <a href="/en/Book">Book now</a>
                            </li>
                            <li>
                                <a href="/en#exercise"> Main exercises </a>
                            </li>
                            <li>
                                <a href="/en#fun">Our Services</a>
                            </li>
                            <li>
                                <a href="/en#trainer">Trainers</a>
                            </li>

                            <li>
                                <a href="/en#contact">Contact Us</a>
                            </li>  
                            <li>

                                <button type="button" class="btn btn-success"><a href="/ar">عربي</a></button>
                                


                            </li>
                        </ul>
                    </div>

                   
                </div>
            </div>
        </div>
    </nav>
    <aside id="colorlib-hero" class="colorlib-degree-bg">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(/Content/images/background1.JPG);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>A goal without a plan is just a wish !! </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/Content/images/background2.jpg);">
                    <div class="overlay3"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>
                                        Make your goals come true
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/Content/images/element5-digital-499980-unsplash.jpg);">
                    <div class="overlay3"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>
                                        Small details make the difference
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                <li style="background-image: url(/Content/images/img_bg_2.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>
                                        Believe in yourself, with your abilities ... You can
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/Content/images/background5.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>
                                        Healthy lifestyle is an investment for your health
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="home"></div>
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"></div>
                </a>
            </div>
        </div>
    </aside>
</div>


