
<link href="~/Content/css/styleAr.css" rel="stylesheet" />
<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    


                    <div class="col-md-8 text-right menu-1">
                        <ul class="ulnav">


                            <li>
                                <a href="/ar">الرئيسية</a>
                            </li>
                            <li>
                                <a href="/ar/Book"> أحجزي مكانك</a>
                            </li>
                            <li>
                                <a href="/ar#exercise">التمارين الرئيسية</a>
                            </li>
                            <li>
                                <a href="/ar#fun">خدماتنا</a>
                            </li>
                            <li>
                                <a href="/ar#trainer">المدربات</a>
                            </li>
                            <li>
                                <a href="/ar#contact">اتصل بنا</a>
                            </li>

                            <li>

                                <button type="button" class="btn btn-success"><a href="/en">English</a></button>


                                
                            </li>


                        </ul>
                       
                    </div>
                    <div class="col-md-2 ">
                        <div id="colorlib-logo ">
                            <a href="/ar">
                                <img src="/Content/images/logo.png" alt="logo" style="width: 150px; ">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <aside id="colorlib-hero" class="colorlib-degree-bg">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(/Content/images/background1.JPG);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1> أهدافك بدون تخطيط ... مجرد أمنيات</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/Content/images/background2.jpg);">
                    <div class="overlay3"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>أجعلي أهدافك واقع</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/Content/images/element5-digital-499980-unsplash.jpg);">
                    <div class="overlay3"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1> التفاصيل الصغيرة تصنع الفرق</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                <li style="background-image: url(/Content/images/img_bg_2.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>آمني بذاتك،بقدراتك...أنت تستطيعين</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/Content/images/background5.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>أسلوب الحياة الصحي استثمار لصحتك</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="home"></div>
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"></div>
                </a>
            </div>
        </div>
    </aside>
</div>


