
@{
    ViewBag.Title = "ArFaq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="colorlib-loader"></div>
    @Html.Partial("~/Views/Home/_TopPage.cshtml")



    <div class="text-center">
        <h2 style="padding-top: 38px;">
            الأسئلة الشائعة
        </h2>
    </div>
    <div class="container">


        <div class="row text-right padding-bottom">

            <div class="col-md-12">
                <p class="p4 ">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="white-space: inherit;">
                        هل يشترط سداد رسوم لدخول جلسات التمارين الجماعية؟
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        يقدم دايموند فيت مجموعة واسعة من جلسات التمارين الجماعية. ومعظم هذه
                        الجلسات يقدم كجزء من مزايا العضوية، وبرغم ذلك، فقد تسري خيارات سداد على باقة عضوية ومواقع خاصة بالنادي.
                        وفي دايموند فيت نؤمن بقوة إيجاد العادات ومزايا التدريب الجماعي. لذا، فقد صممنا عدداً من البرامج المتنوعة


                    </div>
                </div>
            </div>
        </div>

        <div class="row text-right padding-bottom">

            <div class="col-md-12">
                <p class="p4 ">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample" style="white-space: inherit;">
                        كم تبلغ العضوية في دايموند فيت ؟
                    </a>
                </p>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body">
                        أسعار العضوية تختلف تبعا لنوع الحزمة الأنسب لك،لدينا أيضا أسعار خاصة للشركات. يرجى الاتصال بنادي دايموند فيت المفضل لديك
                        حيث موظفينا سوف يكونوا سعداء لمناقشة مختلف خيارات العضوية المتاحة

                    </div>
                </div>
            </div>
        </div>
        <div class="row text-right padding-bottom">

            <div class="col-md-12">
                <p class="p4 ">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" style="white-space: inherit;">
                        كيف يمكنني سداد رسوم العضوية في دايموند فيت؟
                    </a>
                </p>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
طريقة سداد الرسوم من الفرع فقط (حاليا).

                    </div>
                </div>
            </div>
        </div>

        <div class="row text-right padding-bottom">

            <div class="col-md-12">
                <p class="p4 ">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample" style="white-space: inherit;">
                        هل بالإمكان تعليق عضويتي؟
                    </a>
                </p>
                <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        نعم يمكنك تعليق عضويتك، ونطلق على خيار التعليق "تجميد العضوية". يأتي ذلك من منطلق إدراكنا في دايموند فيت أن التمارين الرياضية
                        إحدى العادات المستمرة طول الحياة، برغم أنك ربما في بعض الأحيان ترغب في الحصول على بعض الراحة والتوقف قليلاً بسبب ظروفك
                        الشخصية. ولتحقيق ذلك، يمكنك بالطبع تجميد عضويتك في دايموند فيت لمدة لا تزيد عن أسبوعين على أن ترسل إلينا إخطاراً بمدة
                        معقولة. لمزيد من المعلومات، يرجى الرجوع إلى مكتب الاستقبال في دايموند فيت. ونود أن نسترعي انتباهكم إلى رسوم تجميد العضوية
                        التي يجب سدادها.


                    </div>
                </div>
            </div>
        </div>

        <div class="row text-right padding-bottom">

            <div class="col-md-12">
                <p class="p4 ">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample" style="white-space: inherit;">
                        كيف يمكنني استخدام الخزائن؟
                    </a>
                </p>
                <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        خزائن دايموند فيت تعمل بأقفال رقمية (كود) وإرشادات معينة موجودة في أبواب الخزائن. ولأسباب تتعلق بالأمن والحماية، نطلب من أعضائنا اختيار خزائن مختلفة بأكواد مختلفة عند زيارة النادي.

                        ملاحظة: تتوفر الخزائن فقط عند جلسة التمارين الرياضية، ونقوم تلقائياً بفتح تلك الخزائن عند غلق النادي أبوابه مساءً. وبرغم اتخاذ الحيطة في ضمان حماية الخزائن، إلا أننا نخلي مسؤوليتنا عن ضياع أي متعلقات أو تلفها بسبب السرقة أو وضع المقتنيات في غير موضعها.

                        للحصول على مساعدة إضافية، يرجى التحدث إلى مكتب الاستقبال بالنادي.




                    </div>
                </div>
            </div>
        </div>

        <div class="row text-right padding-bottom">

            <div class="col-md-12">
                <p class="p4 ">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample" style="white-space: inherit;">
                        كيف أرسل ملاحظاتي على منتجات وخدمات دايموند فيت؟
                    </a>
                </p>
                <div class="collapse" id="collapseExample5">
                    <div class="card card-body">
                        نود بالطبع أن نعرف رأيك فيما نقدمه من منتجات وخدمات، لذا نرجو منك إبلاغنا بقصص نجاحك ومشاركة أفكارك الإيجابية أو إبلاغنا
                        عن المدرب الشخصي لدينا الذي أحدث فرقاً في حياتك! نرحب بملاحظاتك ونرغب في أن نعرف منك ما يمكننا تقديمه لمساعدتك والرد
                        على استفساراتك. يمكنك بالطبع التحدث إلى أي فرد من فريق العمل بالنادي، أو إذا كنت تفضل التحدث إلى الإدارة، فيرجى إبلاغ
                        مكتب الاستقبال بذلك. فإذا لم تتوفر لك فرصة الالتقاء بهم على الفور، فسيضمن مكتب الاستقبال الاتصال بك في أسرع وقت ممكن
                        لإتمام ذلك. وكبديل، يمكنك مراسلتنا عبر البريد الإلكتروني وإرسال استفسارك وسنرد على وجه السرعة.




                    </div>
                </div>
            </div>
        </div>

        <div class="row text-right padding-bottom">

            <div class="col-md-12">
                <p class="p4 ">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample" style="white-space: inherit;">
                        ما هي شروط واحكام العضوية؟
                    </a>
                </p>
                <div class="collapse" id="collapseExample6">
                    <div class="card card-body">
                        نحن نسميها "قواعد النادي"، ويمكنك تحميل نسخة
                        <a href="/ar/Terms#fun" style="color:blue">من هنا</a> .

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact"></div>
    @Html.Partial("~/Views/Home/_FooterLinks.cshtml")
</body>
