
@{
    ViewBag.Title = "ArPromotions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="colorlib-loader"></div>
@Html.Partial("~/Views/Home/_TopPage.cshtml")


<div class="row text-center padding-top" style="margin-left:unset">
    
    </div>
    <div class="row text-center padding-top" style="margin-left:unset">
        <div class="col-md-12">
            <h2>
                العروض الترويجية
            </h2>
        </div>
    </div>



    <div class="colorlib-cl asses">
        <div class="container">
            <div class="row">
                <div class=" text-center animate-box">
                    <div class="classes">
                        <div class="classes-img" style="background-image: url(/Content/images/classes-1.jpg);">
                            <p class="price text-center">
                                <span>

                                    <small>عرض خاص</small>
                                </span>
                            </p>
                        </div>
                        <div class="product-entry">
                            <div class="desc">
                                <h1 style="color: #ff0080;">
                                    السنة عندنا بـ 14 شهر
                                </h1>
                                <p>
                                    <div class="desc">
                                        <h3></h3>
                                <p class="price">
                                    <span></span>
                                    <span class="sale"></span>
                                </p>
                            </div>
                            </p>
                            <p>
                                <a href="/ar/Book#home" class="btn-learn">
                                    اشتركي الآن
                                    <i class="icon-arrow-right3"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @Html.Partial("~/Views/Home/_FooterLinks.cshtml")



