
@{
    ViewBag.Title = "ArTerms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="colorlib-loader"></div>
    @Html.Partial("~/Views/Home/_TopPage.cshtml")


    <div class="row text-center padding-top" style="margin-left:unset">
        <div class="col-md-12">
            <h2>
                الشروط والأحكام
            </h2>
        </div>
    </div>



    <div class="row" style="max-width:100%;">
        <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
            <div id="exercise"></div>
            
            <p class="p3">
                <br> يجب إيقاف النشاط خلال أوقات الصلاة.</br><span class="glyphicon glyphicon-asterisk"></span>
                <br> يمنع التدخين في كافة الأوقات.</br>
                <br> يمنع الأكل الشراب داخل المركز باستثناء المياه ومشروبات اللياقة في أماكن التدريب والوجبات الخفيفة في الصالة</br>
                <br> يجب إرتداء زي رياضي كامل في كل الأوقات.</br>
                <br> إدارة المركز غير مسؤولة عن الملابس أو أي اغراض أخرى محفوظة في الخزانات ويكون التخزين على مسؤولية المستخدمين فقط.</br>
                <br> يتم إفراغ خزانات غرف تبديل الملابس كل ليلة بواسطة موظفي المركز وويمنع على الأعضاء الإحتفاظ بملابسهم أو اغراضهم الاخرى</br>
                <br>في الخزانات بعد إغلاق المركز.</br>
                <br> المواد المقدمة (الشباشب والمناشف، إلخ) هي ملكية خاصة ويجب إعادتها بعد الإستخدام.</br>
                <br> يمنع منعاً باتاً إلقاء الأوزان على الأرض.</br>
                <br> لا يسمح بإرتداء الزعانف والقمصان في منطقة بركة السباحة والجاكوزي والساونا و غرفة البخار.</br>
                <br> يجب على جميع الأعضاء الاستحمام قبل الدخول لمنطقة السباحة.</br>
                <br> يجب التعامل مع كافة المعدات بعناية ولن يسمح مطلقاً الإساءة في استخدامها (يتوفر مدربات في كل الأوقات لتعريف المشترك بكيفية
                الإستخدام).</br>
                <br> يجب إتباع إجراءات الطوارئ في حالات إنقطاع الكهرباء أو الحريق أو السيول، إلخ.</br>
                <br> يجب التعامل مع الموظفين بإحترام أو يتعين على الأعضاء المشتركين إتباع تعليمات الموظفين وبصفة خاصة في حالة الطوارئ (يلزم
                توجيه أي عضوه تشتكي من الموظفات إلى مديرة المركز و/ أو الخط الساخن لخدمة العملاء).</br>
                <br> لا يسمح بأي حال من الأحوال بالإساءة للمشتركات سواءَ لفظياً أو بدنياً، حيث يجب التعامل مع الأعضاء المشتركات بإحترام.</br>
                <br> لا يسمح للأعضاء المشتركات بالدخول إلى المناطق المخصصة لإستخدامها من قبل الموظفات فقط(السكن، المكاتب، إلخ).</br>
                <br> يجب إيقاف السيارات في الأماكن المخصصة فقط ويجب على الأعضاء المشتركيات عدم سد ممرات السير والمسارات الخاصة بالدخول التابعة
                للجيران بسياراتهم.</br>
                <br> لا نتحمل مسؤولية أي ضرر أو سرقة لسيارات الأعضاء المشتركات.</br>
                <br> لا يسمح بإستخدام مواد المنشطات أو الهرمونات و/أو أي مواد أخرى محظورة في مرافقنا.</br>
                <br> لا يسمح للأعضاء المشتركات بعرض أي خدمات و/أو منتجات على الأعضاء الآخرين في مواقعنا</br>
                <br> لا يسمح للأعضاء المشتركات بتقديم أي نقود أو مزايا خاصة و/أو هدايا أخرى لموظفاتنا.</br>
                <br> يجب الإبلاغ عن أي حالة صحية إلى الموظفات قبل الاشتراك في أي نشاط بدني.</br>
                <br> لا تتحمل شركتنا مسؤولية حدوث الإصابات لأي عضوه سواء بسبب سوء الإستخدام للمعدات أو أي سبب آخر أثناء التواجد في المركز.</br>
                <br> يجوز إغلاق المرافق في أي وقت بواسطة الإدارة للصيانة الدورية والتنظيف و/أو أي سبب آخر بدون إشعار مسبق.</br>
                <br> يجوز إستخدام بيانات الاتصال الخاصة بالعضوه لحملات التسويق المشتركة و/أو إرسال عروض وأخبار وفعاليات خاصه بالمركز.</br>
                <br> تقدم بطاقات العضوية إلى المشتركه لإستخدامها حصراً بواسطة العضوه ولا يمكن التنازل عنها أو مشاركتها او إقراضها للأخارين
                ولا يسمح ولا يتهاون في مشاركة بطاقة العضوية.</br>


                <br>بالإضافة إلى الشروط الواردة أعلاه، يجب على الأعضاء المشتركات إتباع التعليمات و/أو الاشعارات أمقدمة من طرف المركز (سواء
                كانت مقدمة في نشرات خطية أو اشعارات مكتوبة أو بصورة شفوية من موظفي المركز). </br>

            </p>
        </div>
    </div>

    <div id="contact"></div>
    @Html.Partial("~/Views/Home/_FooterLinks.cshtml")


</body>

