@{
    ViewBag.Title = "Contact";
}

<div class="colorlib-loader"></div>
<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 ">
                        <div id="colorlib-logo ">
                            <a href="index.html">
                                <img src="images/logo.png" alt="logo" style="width: 150px; ">
                            </a>
                        </div>
                    </div>



                    <div class="col-md-8 text-right menu-1">
                        <ul class="ulnav">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="from.html">Book now</a>
                            </li>
                            <li>
                                <a href="#exercise"> Main exercises </a>
                            </li>
                            <li>
                                <a href="#fun">Our Services</a>
                            </li>
                            <li>
                                <a href="#trainer">Trainers</a>
                            </li>

                            <li>
                                <a href="#contact">Contact Us</a>
                            </li>











                        </ul>
                    </div>

                    <div class="col-md-2 text-right menu-1 lgnav">
                        <select class="selectpicker" data-width="fit">
                            <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                            <option data-content='<span class="flag-icon flag-icon-mx"></span> arabic'>عربي</option>
                        </select>
                    </div>


                </div>
            </div>
        </div>
    </nav>
    <aside id="colorlib-hero" class="colorlib-degree-bg">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(images/background1.JPG);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>A goal without a plan is just a wish !! </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(images/background2.jpg);">
                    <div class="overlay3"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>A goal without a plan is just a wish !! </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(images/element5-digital-499980-unsplash.jpg);">
                    <div class="overlay3"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>A goal without a plan is just a wish !! </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                <li style="background-image: url(images/img_bg_2.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>A goal without a plan is just a wish !! </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(images/background5.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>A goal without a plan is just a wish !! </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="home"></div>
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"></div>
                </a>
            </div>
        </div>
    </aside>
</div>
