
@{
    ViewBag.Title = "EnFaq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="colorlib-loader"></div>
    @Html.Partial("~/Views/Home/_TopPageEn.cshtml")

    <div class="row  padding-top" style="margin-right:unset">
    </div>

    <div class="row text-center padding-top" style="margin-right:unset">
        <div class="col-md-12">
            <h2>
                Common questions
            </h2>
        </div>
    </div>

    <div class="container">


        <div class="row text-left padding-bottom">

            <div class="col-md-12">

                <a class="btn btn-primary " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="    white-space: inherit;
">
                    What is the age at which you are required to join FitNet?

                </a>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                        Diamond Fit offers a wide range of group exercises. Most of these sessions are offered as part of membership benefits, but payment options may apply to a membership package and club sites. At Diamond Fit we strongly believe in finding the habits and benefits of team training. So, we designed a number of different programs



                    </div>
                </div>
            </div>
        </div>

        <div class="row text-left padding-bottom">

            <div class="col-md-12">
                <div   >
                    <div class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample" style="    white-space: inherit;
">
                        <span>  How many memberships do you have at Frequent Fit? </span>

                    </div>
                </div>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body">
                        Membership prices vary depending on the type of package that suits you best, we also have special rates for companies. Please contact your favorite Diamond Fit
                        Where our staff will be happy to discuss the various membership options available.


                    </div>
                </div>
            </div>
        </div>
        <div class="row text-left padding-bottom">

            <div class="col-md-12">
                
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" style="    white-space: inherit;
">
                How do I pay my membership fee?

                </a>
               
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        Method of payment of fees from branch only (currently).


                    </div>
                </div>
            </div>
        </div>

        <div class="row text-left padding-bottom">

            <div class="col-md-12">
               
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample" style="    white-space: inherit;
">
                        Can I suspend my membership?
                    </a>
                
                <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        Yes you can suspend your membership, and call the "Freeze Membership" comment option. This comes from our understanding of Diamond Fit's exercise
                        One of the lifelong habits is though you may sometimes want to have some rest and a little rest due to your circumstances
                        Personal. To do this, you can of course freeze your membership in Diamond Fit for a period of not more than two weeks and send us a notice of duration
                        Reasonable. For more information, please refer to the reception at Diamond Fit. We would like to draw your attention to the membership freeze fees
                        Which must be repaid.



                    </div>
                </div>
            </div>
        </div>

        <div class="row text-left padding-bottom">

            <div class="col-md-12">
                
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample" style="    white-space: inherit;
">
                    How can I use safes?

                </a>
                
                <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        Diamond Fit cabinets operate with digital locks and specific instructions located in the doors of the safes. For security and protection reasons, we ask our members to choose different safes with different codes when visiting the club.

                        Note: Safes are available only at the gym, and we will automatically open the lockers when the club closes its doors in the evening. Although caution is taken to ensure the protection of the safes, we disclaim any liability for the loss or damage of any items due to theft or misappropriation.

                        For additional help, please speak to the club reception.



                    </div>
                </div>
            </div>
        </div>

        <div class="row text-left padding-bottom">

            <div class="col-md-12">

                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample" style=" white-space: inherit;">
                    How do I send my comments on Diamond Fit products and services?
                </a>

                <div class="collapse" id="collapseExample5">
                    <div class="card card-body">
                        Of course, we want to know what you think about our products and services, so please tell us your success stories, share your positive thoughts or let us know
                        About our personal trainer who made the difference in your life! We welcome your feedback and would like to know from you what we can offer to help you and respond
                        On your inquiries. You can of course talk to any member of the club team, or if you prefer to talk to the management, please report
                        Reception desk is so. If you do not have a chance to meet them immediately, the front desk will ensure that you are contacted as soon as possible
                        To complete this. As an alternative, you can email us and send your inquiry and we will respond promptly.

                    </div>
                </div>
            </div>
        </div>

        <div class="row text-left padding-bottom">

            <div class="col-md-12">
              
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample" style=" white-space: inherit;">
                        What are the terms and conditions of membership?
                    </a>
               
                <div class="collapse" id="collapseExample6">
                    <div class="card card-body">
                        We call it "club rules" and you can download a copy

                        <a href="/en/Terms#fun" style="color: blue">here</a> .

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="contact"></div>
    @Html.Partial("~/Views/Home/_FooterLinksEn.cshtml")

</body>