
@{
    ViewBag.Title = "EnPromotions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="colorlib-loader"></div>

    @Html.Partial("~/Views/Home/_TopPageEn.cshtml")

    <div class="row text-center padding-top" style="margin-right:unset">
    </div>



    <div class="row text-center padding-top" style="margin-right:unset">
        <div class="col-md-12">
            <h2>
                Offers & Promotions
            </h2>
        </div>
    </div>



    <div class="colorlib-clas ses">
        <div class="container">
            <div class="row">
                <div class=" text-center animate-box">
                    <div class="classes">
                        <div class="classes-img" style="background-image: url(/Content/images/classes-1.jpg);">
                            <p class="price text-center">
                                <span>

                                    
                                    <small>salle</small>
                                </span>
                            </p>
                        </div>
                        <div class="product-entry">
                            <div class="desc">
                                <h2 style="color: #ff0080;">
                                    25% discount on all subscriptions and services for a limited period

                                </h2>
                                <p>
                                    <div class="desc">
                                        <h3>
                                            Just
                                        </h3>
                                <p class="price">
                                    <span></span>
                                    <span class="sale"></span>
                                </p>
                            </div>
                            </p>
                            <p>
                                <a href="/en/Book#home" class="btn-learn">
                                    Subscribe now

                                    <i class="icon-arrow-right3"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="contact"></div>
    @Html.Partial("~/Views/Home/_FooterLinksEn.cshtml")


</body>