
@{
    ViewBag.Title = "EnTerms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="colorlib-loader"></div>
    @Html.Partial("~/Views/Home/_TopPageEn.cshtml")

    <div class="row text-center padding-top" style="margin-right:unset">
    </div>

    <div class="row text-center padding-top" style="margin-right:unset">
        <div class="col-md-12">
            <h2>
                Terms & conditions
            </h2>
        </div>
    </div>

    <div class="row" style="margin-right:unset">
        <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
            

            <p class="p3">
                <br> Activity must be stopped during prayer times.
                </br>
                <br> Smoking is prohibited at all times.			</br>
                <br>It is forbidden to eat inside the center except for water and soft drinks in the training and snack areas in the lounge.			</br>
                <br>You must wear a full sports uniform at all times</br>
                <br>Management of the Center is not responsible for clothing or any other purposes reserved in the storage tanks and the storage is the responsibility of users only.			</br>
                <br> The locker rooms are emptied every night by staff in the cabinets after the center is closed.			</br>

                <br>The materials provided (slippers, towels, etc.) are private property and must be returned after use				.</br>
                <br> It is strictly forbidden to throw weights on the ground				.</br>
                <br> Flippers and t-shirts are not allowed in the pool area, jacuzzi, sauna and steam room				.</br>
                <br>All members must shower before entering the swimming area				.</br>
                <br>All equipment must be handled with care and will never be misused. (Trainers are available at all times to inform the participant how
                the use). </br>
                <br>Emergency measures should be followed in cases of power failure, fire, flood, etc.				.</br>
                <br>Employees must be treated with respect or joint members should follow staff instructions, especially in case of emergency
                Directing any member complaining from the staff to the center manager and / or the customer service hotline).				 </br>
                <br>In no way is it permitted to abuse the participants either verbally or physically, as the participating members must be treated with respect				.</br>
                <br>Participating members are not allowed access to areas designated for use by female employees only (accommodation, offices, etc.).</br>
                <br>Vehicles must be parked only in designated areas and members must not fill in the traffic corridors and access routes
                To neighbors by their cars.</br>
                <br>We are not responsible for any damage or theft of vehicles belonging to members				.</br>
                <br> It is not permitted to use stimulants, hormones and / or other substances that are prohibited in our facilities				.</br>
                <br>Subscriber members are not permitted to offer any services and / or products to other members of our sites.			</br>
                <br>Participating members are not allowed to provide any cash, special benefits and / or other gifts to our employees				.</br>
                <br> Any health status should be reported to female employees before engaging in any physical activity				.</br>
                <br> Our company is not responsible for the injury of any member, whether due to misuse of equipment or any other reason while in the center				.</br>
                <br>Facilities may be closed at any time by the Department for periodic maintenance, cleaning and / or any other cause without prior notice				.</br>
                <br>The member's contact information may be used for joint marketing campaigns and / or to send special offers, news and events to the Center				.</br>
                <br>Membership cards are presented to the subscriber for use exclusively by the member and can not be waived, shared or lent to the two branches
                Membership card is not allowed and will not be waived .</br>


                <br>In addition to the above conditions, participating members must follow the instructions and / or notices provided by the Center (either
                Were provided in written or written notices or in writing by the staff of the Center).
                </br>

            </p>
        </div>
    </div>

    <div id="contact"></div>
    @Html.Partial("~/Views/Home/_FooterLinksEn.cshtml")

</body>