@{
    ViewBag.Title = "Diamond Fitness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="colorlib-loader"></div>
    @Html.Partial("~/Views/Home/_TopPageEn.cshtml")

    <div id="colorlib-subscribe">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box ">
                    <h2 class="color-green">
                        Take your place
                    </h2>
                    <p>

                        Join now to take your place and get a special discount for the opening, where we have the best exercise and entertainment
                        games Fun and useful at the highest level of craftsmanship, we work for your happiness while achieving your goal
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="card-body">
                        <a href="/en/Book" class="btn btn-secondary btn-lg" style="background-color: #8cc53e; font-size: 25px; line-height:0.3333; ">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                <h2 style="    margin-top: 40px;">
                    Discover your place

                </h2>
                <p>
                    We will strive to provide you with what is appropriate for you and worthy of what we aim for the development of sports
                    in Saudi Arabia and even the Middle East entire

                </p>

                <div>
                    <video controls preload="auto">autoplay
                        <source class="services-img" src="/Content/images/videogym.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>

                    </video>
                </div>

            </div>
        </div>
        <div class="row animate-box" style="direction:inherit;padding:50px;background-color:#fff;" >
            <div class="owl-carousel">

                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/1.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/2.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/3.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/4.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/5.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/6.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/7.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/8.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/9.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/10.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                @*<div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/11.jpg)"></div>
                            </div>
                        </div>
                    </div>*@
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/12.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/13.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/14.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/15.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/16.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/18.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/19.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/20.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/21.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/22.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/23.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/24.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/25.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/27.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/28.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/29.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/30.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/31.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/32.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/33.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/34.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/35.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/36.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/38.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/39.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/40.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/41.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/42.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/43.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/44.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/45.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/46.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/47.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/48.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div id="colorlib-services" class="colorlib-degree-bg-full">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <div id="exercise"></div>
                    <h2>
                        We treat you as a subscriber not as a number

                    </h2>
                    <p>
                        The difference between normal and above normal is a small add-on that we offer


                        <br> Enjoy with us fitness, for better elegance in an easier way</br>

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">

                        <div class="col-md-6 text-center animate-box">
                            <div class="services">
                                <span class="icon">
                                    <i class="flaticon-gym"></i>
                                </span>
                                <div class="desc">
                                    <h3>
                                        Cardio

                                    </h3>
                                    <p class="p2">
                                        Cardio exercises are one of the most widely practiced exercises on a wide scale. They require high effort and agility,
                                        It raises the heart rate for a fairly long time, so it is considered one of the best exercises for the human body.

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 text-center animate-box">
                            <div class="services">
                                <span class="icon">
                                    <i class="flaticon-swimmer"></i>
                                </span>
                                <div class="desc">
                                    <h3>
                                        Swimming
                                    </h3>
                                    <p class="p2">
                                        An integrated swimming pool with swimming lessons such as (Aqua Aerobics - Aqua Zumba) low impact option joints
                                        and movements Zumba The water is 800 times more intense than the air - so it will work harder; Pregnant women who
                                        want to keep fit.

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 text-center animate-box">
                            <div class="services">
                                <span class="icon">
                                    <img src="/Content/images/zumba.png" alt="zumba" style="width: 50px;">
                                </span>
                                <div class="desc">
                                    <h3>
                                        Group Exercise Classes

                                    </h3>
                                    <p class="p2">
                                        Our classes will give you a variety of inspiration to discover new training styles while keeping your motivation
                                        with members who share your same way of thinking, with our abundant choices of classes. You can choose the dates
                                        that are best for you when booking or soon on our website.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 text-center animate-box">
                            <div class="services">
                                <span class="icon ">
                                    <img src="/Content/images/yoga.png" alt="stretching-exercises" style="width: 50px;">
                                </span>
                                <div class="desc">
                                    <h3>
                                        6D
                                    </h3>
                                    <p class="p2">
                                        This kit is designed to suit all people designed to work on bodybuilding as a whole, and also functional strength,
                                        you can achieve maximum As a result you can access them, reach your full fitness and achieve great benefits from
                                        your exercise by following this set of exercises The six-party program is integrated into one program by specialized
                                        trainers

                                    </p>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 animate-box">
                            <div class="services-img" style="background-image: url(/Content/images/classes-1.jpg);"></div>
                        </div>
                        <div class="col-md-6 animate-box">
                            <div class="services-img" style="background-image: url(/Content/images/juan-pablo.jpg);"></div>
                        </div>
                        <div class="col-md-6 animate-box">
                            <div class="services-img" style="background-image: url(/Content/images/intro-img-1.jpg);"></div>
                        </div>
                        <div class="col-md-6 animate-box">
                            <div class="services-img" style="background-image: url(/Content/images/Three_3_Hands_Yoga.jpg);"></div>
                        </div>
                       
                        <div class="col-md-6 animate-box">
                            <div class="services-img" style="background-image: url(/Content/images/swimmer-0.jpg);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fun"></div>
    <div id="colorlib-schedule" style="background-color:  #f2f3f7;">
        <div class="container">
            <div class="colorlib-classes">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                            <h2> Our Services</h2>
                            <p>
                                We have many fun and useful entertainment services to complement what you lack or what impedes you to participate
                                and achieve your goal, only All you have to do is enjoy your fitness to feel the psychological comfort that is one
                                of our goals in achieving your self, when you achieve your goals With more pleasure then you become
                                <h3>Fit your life</h3>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/maxresdefault.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>

                                            Two fitness connections
                                            <br>	 for beginners &amp; advanced </br>
                                        
                                    </h3>
                                    <p>
                                        These include, but are not limited to: Zomba - Aerobics - Toning - stretching - Boxer - Step - Core - Pilates
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/spa.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        SPA
                                    </h3>
                                    <p>
                                        Rooms (steam - sauna - jacuzzi hot and cold) under the hands of high-level trainers and experience high
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/01.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                       Integrated swimming pool
                                    </h3>
                                    <p>
                                        An integrated swimming pool designed to suit all ages and abilities, including swimming education, swimming skills
                                        development and competition, in addition to Aqua Aerobics
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-1 text-center animate-box">
                            
                        </div>

                        <div class="col-md-3 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/width.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        Weighting 
                                    </h3>
                                    <p>
                                        Weight measuring devices, mass counting, fat ratio, and feeding tips are provided under the supervision of a competent
                                        staff
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/1280px-Great_mosque_in_Medan.JPG);">
                                </div>
                                <div class="desc">
                                    <h3>
                                       Mosque
                                    </h3>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-3 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/RestingStock.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                       body building
                                    </h3>
                                    <p>
                                        It is only to tighten the body and make it more flexible and powerful, where the latest sports equipment of all
                                        types and sizes and iron devices are available High quality
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-2 text-center animate-box">

                        </div>

                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/cafee.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                    coffee shop
                                    </h3>
                                    <p>
                                        High-class cafe in an atmosphere of calm and privacy

                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/ac64c7902435f5378a1eabebf87ed52b.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        Kids Area
                                    </h3>
                                    <p>
                                        An independent children's playground under the supervision of a qualified staff for their care and service while
                                        you are in the gym
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 text-center animate-box">

                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>

    <div id="trainer"></div>
    <div class="colorlib-trainers">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>Trainers</h2>
                    <p>
                        Trainers of different nationalities with experience of 15 years, live with you moment by moment without the need for
                        a special coach
                    </p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-5.jpg)"></div>
                                <div class="desc">
                                    <h3>Nutritionist Dr / Lamis</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-2.jpg)"></div>
                                <div class="desc">
                                    <h3>Trainer Aya Eid</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-3.jpg)"></div>
                                <div class="desc">
                                    <h3>trainer Doha</h3>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-6.jpg)"></div>
                                <div class="desc">
                                    <h3>trainer Hager</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-7.jpg)"></div>
                                <div class="desc">
                                    <h3>trainer Shimaa Qablil</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-8.jpg)"></div>
                                <div class="desc">
                                    <h3>trainer Marwa</h3>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-9.jpg)"></div>
                                <div class="desc">
                                    <h3>trainer Alaa Shaker</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-10.jpg)"></div>
                                <div class="desc">
                                    <h3>trainer Aya Sayed</h3>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="trainer"></div>
    <div class="colorlib-trainers">
       
    </div>

    <div id="colorlib-subscribe">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box ">
                    <h2 class="color-green">
                        Take your place
                    </h2>
                    <p>
                        Join now to take your place and get a special discount for the opening, where we have the best exercise and entertainment
                        games Fun and useful at the highest level of craftsmanship, we work for your happiness while achieving your goal
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="card-body">
                        <a href="/en/Book" class="btn btn-secondary btn-lg" style="background-color: #8cc53e; font-size: 25px; line-height:0.3333; ">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact"></div>
    @Html.Partial("~/Views/Home/_FooterLinksEn.cshtml")

</body>